<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>username</string>
		<key>Title</key>
		<string>username</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>auth</string>
		<key>Title</key>
		<string>auth code</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>https://api.synccit.com/api.php</string>
		<key>Key</key>
		<string>api</string>
		<key>Title</key>
		<string>api location</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>referral</string>
		<key>Title</key>
		<string>support synccit with affiliate links?</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
